@page "/artifacts"

@using Genshin_Site.Data;
@using System.Text.Json;

@inject ArtifactsService service;

<h3>Artifact Sets</h3>

@foreach (var set in service.GetSets())
{
    <div @onclick="() => Show(set)">
        @if (set.Img != null)
        {
            <img src="@set.Img" />
        }
        else
        {
            <img src="https://static.wikia.nocookie.net/gensin-impact/images/2/27/Item_Initiate%27s_Flower.png" />
        }
        <span>@set.Name</span>
    </div>
    <div hidden="@(!set.Show)">
        <div>@set.Passive</div>
        @foreach (var artifact in set.Artifacts)
        {
            <div>
                <span><img src="@artifact.Image" /></span>
            <span>@artifact.Name</span>
            <span>@artifact.Slot</span>
            </div>
        }
    </div>
    <br />
}
@*@foreach (var file in files)
{
    <img src="Images/ArtifactImages/@file.Name" />

}*@


@code {
    ArtifactSet? selectedArtifactSet;

    void Show(ArtifactSet artifactSets)
    {
        selectedArtifactSet = artifactSets;
        artifactSets.Show = !artifactSets.Show;
    }
    //Save template data
    //protected override void OnInitialized()
    //{
    //    service.Save();
    //    base.OnInitialized();
    //}

}
