@using Genshin_Site.Data;
<div>
    <div class="expand" @onclick="() => Show(ArtifactSet)">
        @if (ArtifactSet.Img != null)
        { 
            <img class="SetIcon" src="@ArtifactSet.Img" />
        }
        else
        {
            <img src="https://static.wikia.nocookie.net/gensin-impact/images/2/27/Item_Initiate%27s_Flower.png" />
        }
        <span>@ArtifactSet.Name</span>
    </div>
    <div hidden="@(!ArtifactSet.Show)">
        <div class="wrap">@ArtifactSet.Passive</div>
        @foreach (var artifact in ArtifactSet.Artifacts)
        {
            
            <div>
                <hr>
                <img src="@artifact.Image" />
                @artifact.Slot:
                @artifact.Name
            </div>
        }
    </div>
</div>

@code {
    [Parameter]
    public ArtifactSet ArtifactSet { get; set; }
    ArtifactSet? selectedArtifactSet;

    void Show(ArtifactSet artifactSets)
    {
        selectedArtifactSet = artifactSets;
        artifactSets.Show = !artifactSets.Show;
    }
}
