@page "/characters"
@using Genshin_Site.Data;

<h3>Character</h3>
@foreach (var character in roster)
{
    <img src="@character.Imege" asp-append-version="true" width="180px" />
    <br>
    <button @onclick = "() => Show(character)">@character.CharacterName:</button>
    <div hidden="@(!character.Show)">
        <div>@character.Element</div>
        <div>@character.Weapon</div>
    </div>
    <br>
}

@code
{
    private List<Character> roster = new List<Character>()
    {
        new Character(
            "Albedo", 
            "Geo", 
            "Sword",
            false,
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/deeqrp7-20be0170-c714-46ac-934c-e5681b89acd1.png/v1/fill/w_571,h_350/albedo_genshin_impact_portrait_render_by_deg5270_deeqrp7-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZWVxcnA3LTIwYmUwMTcwLWM3MTQtNDZhYy05MzRjLWU1NjgxYjg5YWNkMS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.EYma2RW18CWLi8Pf5a7qZSNLykiPc7QqdoamYhN5r5o"),
        new Character(
            "Alhaitham",
            "Dendro", 
            "Sword",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/dfn4o3x-7b2a3411-1092-4036-bb85-c703e199d82f.png/v1/fill/w_571,h_350/alhaitham_genshin_impact_portrait_render_by_deg5270_dfn4o3x-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZm40bzN4LTdiMmEzNDExLTEwOTItNDAzNi1iYjg1LWM3MDNlMTk5ZDgyZi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.YRUGIYYKrxXixHSqmQMtCcl3XCmvuz1H_k7eneiGlRA"),
        new Character(
            "Aloy", 
            "Cryo", 
            "Bow",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/dezvg4e-5efa2ac6-8faa-44fc-a03b-9baea12af73e.png/v1/fill/w_408,h_250/aloy_genshin_impact_portrait_render_by_deg5270_dezvg4e-250t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZXp2ZzRlLTVlZmEyYWM2LThmYWEtNDRmYy1hMDNiLTliYWVhMTJhZjczZS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.05Nx9qYlwO8WC25K6LkG7Jgeus2L7_01dkUC18l626A"),
        new Character(
            "Amber", 
            "Pyro",
            "Bow",
            false,
            "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmQutPs_Y2RS41jd0ilP-g-e6HOVPnUrWpY8Gz3lIY&s"),
        new Character(
            "Ayaka", 
            "Cryo", 
            "Sword",
            false, 
            "https://oyster.ignimgs.com/mediawiki/apis.ign.com/genshin-impact/f/f9/Ayaka_img.png"),
        new Character(
            "Ayato",
            "Hydro",
            "Sword",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/df2sbux-7466d292-fff4-4ee8-9746-d074b05c566e.png/v1/fill/w_571,h_350/ayato_genshin_impact_portrait_render_by_deg5270_df2sbux-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZjJzYnV4LTc0NjZkMjkyLWZmZjQtNGVlOC05NzQ2LWQwNzRiMDVjNTY2ZS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.WqI8ykzytaCDF-ztk4MrC4ET0CqalmWcOrayGz4Cv4Q"),
        new Character(
            "Baizu",
            "Dendro", 
            "Catalyst",
            false, 
            "https://webstatic.hoyoverse.com/upload/op-public/2023/03/27/7e0096b8907484d2c530a57a0d0bda80_6830097800800736702.png"),
        new Character(
            "Barbara", 
            "Hydro", 
            "Catalyst",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/de90z8y-289d536d-163e-4d65-9c33-d0bb571e6e4d.png/v1/fit/w_375,h_230/barbara_genshin_impact_portrait_render_by_deg5270_de90z8y-375w.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZTkwejh5LTI4OWQ1MzZkLTE2M2UtNGQ2NS05YzMzLWQwYmI1NzFlNmU0ZC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.-KLZfHnuNrMmEgei_C8kv12i7M2sWfck4iotptCewxg"),
        new Character(
            "Beidu", 
            "Electro", 
            "Claymore",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/de911ok-6b61bf38-99eb-4029-a388-e93098c3eeee.png/v1/fill/w_571,h_350/beidou_genshin_impact_portrait_render_by_deg5270_de911ok-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZTkxMW9rLTZiNjFiZjM4LTk5ZWItNDAyOS1hMzg4LWU5MzA5OGMzZWVlZS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.m6aRqb-glIRWY9SrZVrRVm8nuHtzwh8BCWCIELeG4wo"),
        new Character(
            "Bennet",
            "Pyro", 
            "Sword",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/de90z4e-3ecb1447-c6ba-4b5f-ad3e-fff346e4741d.png/v1/fill/w_571,h_350/bennett_genshin_impact_portrait_render_by_deg5270_de90z4e-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZTkwejRlLTNlY2IxNDQ3LWM2YmEtNGI1Zi1hZDNlLWZmZjM0NmU0NzQxZC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.nhmOoNdpWRlsCpBGYAvuAOn2evPqQsAVueC4PdgsAdg"),
        new Character(
            "Candece", 
            "Hydro", 
            "Polearm",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/dff3ju1-3084612a-ff29-4022-908d-017466e352bc.png/v1/fill/w_700,h_330/candace_genshin_impact_portrait_render_by_deg5270_dff3ju1-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjA0IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZmYzanUxLTMwODQ2MTJhLWZmMjktNDAyMi05MDhkLTAxNzQ2NmUzNTJiYy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.mYtqNoEvo0habnOqEHmpD37SUBJeCJcxrE7h6p4Onrk"),
        new Character(
            "Chongyung", 
            "Cryo",
            "Claymore",
            false,
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/de911oo-97adafdb-8f3c-4861-b010-28c07c87ba48.png/v1/fill/w_571,h_350/chongyun_genshin_impact_portrait_render_by_deg5270_de911oo-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZTkxMW9vLTk3YWRhZmRiLThmM2MtNDg2MS1iMDEwLTI4YzA3Yzg3YmE0OC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ATfH0utgCI1PKo3hRRUe8GXFU-WOf1A4mjg2wuUNjbA"),
        new Character(
            "Collei", 
            "Dendro", 
            "Bow",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/dfby2e2-45a00fa6-4d8a-4952-a9b6-595c507e14ec.png/v1/fill/w_677,h_350/collei_genshin_impact_portrait_render_by_deg5270_dfby2e2-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NjYyIiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZmJ5MmUyLTQ1YTAwZmE2LTRkOGEtNDk1Mi1hOWI2LTU5NWM1MDdlMTRlYy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.qkjYxe9X4TVfjccDNYaGAamprpKcXye75LutqSqGW4A"),
        new Character(
            "Cyno", 
            "Electro", 
            "Polearm",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/dfh9suu-fce1ff5c-87b1-48f5-8f0e-feab54b5bab6.png/v1/fill/w_583,h_350/cyno_genshin_impact_portrait_render_by_deg5270_dfh9suu-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzY4IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZmg5c3V1LWZjZTFmZjVjLTg3YjEtNDhmNS04ZjBlLWZlYWI1NGI1YmFiNi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Hw5yx5ihertv__TGTPQA7psthXrhLp38GJ5xInpNwzk"),
        new Character(
            "Dehya", 
            "Pyro", 
            "Claymore",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/dfqqk5i-2826b690-32f2-4c36-87ac-856511bd8b9c.png/v1/fill/w_571,h_350/dehya_genshin_impact_portrait_render_by_deg5270_dfqqk5i-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZnFxazVpLTI4MjZiNjkwLTMyZjItNGMzNi04N2FjLTg1NjUxMWJkOGI5Yy5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.AtQ3csoMIFQp0B_f-rPnpdFAWlLU9NeUK7CULeRaXTI"),
        new Character(
            "Diluc", 
            "Pyro", 
            "Claymore",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/de90zcf-a5425bd1-571c-493b-80cd-c9b08ac41139.png/v1/fill/w_571,h_350/diluc_genshin_impact_portrait_render_by_deg5270_de90zcf-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZTkwemNmLWE1NDI1YmQxLTU3MWMtNDkzYi04MGNkLWM5YjA4YWM0MTEzOS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.nDCMaZF1XAP3CrmDOO9pJ94Ane6iM8hfPNN3qcYKSOw"),
        new Character(
            "Diona", 
            "Cryo", 
            "Bow",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/deeqqv6-8f366b33-fbfd-450c-80df-5d132e182cc0.png/v1/fit/w_375,h_230/diona_genshin_impact_portrait_render_by_deg5270_deeqqv6-375w.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZWVxcXY2LThmMzY2YjMzLWZiZmQtNDUwYy04MGRmLTVkMTMyZTE4MmNjMC5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Mv0W2GwyR-pd52YppPoE6gZtsS_dnHdYS8SEkIUsUZ0"),
        new Character(
            "Dori", 
            "Electro", 
            "Claymore",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/dfdd88p-1cecbafa-8d53-46a1-a825-dd5a371dffe2.png/v1/fill/w_571,h_350/dori_genshin_impact_portrait_render_by_deg5270_dfdd88p-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZmRkODhwLTFjZWNiYWZhLThkNTMtNDZhMS1hODI1LWRkNWEzNzFkZmZlMi5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.Qw_jneh8zLC99JjJHzujZ82GmUY4WjXqWI4_Ec9JjRc"),
        new Character(
            "Eula", 
            "Cryo", 
            "Claymore",
            false, 
            "https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/5e5896a5-4a79-496a-bea4-81f26cfa2650/delp5l4-be250c1a-2c84-4145-83ee-3f6cd5700871.png/v1/fill/w_571,h_350/eula_genshin_impact_portrait_render_by_deg5270_delp5l4-350t.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9Nzg1IiwicGF0aCI6IlwvZlwvNWU1ODk2YTUtNGE3OS00OTZhLWJlYTQtODFmMjZjZmEyNjUwXC9kZWxwNWw0LWJlMjUwYzFhLTJjODQtNDE0NS04M2VlLTNmNmNkNTcwMDg3MS5wbmciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.WmhyJpmKslqmI7w_ARvgOVOkTRLhC4y_nXlCeTfsIak"),
        new Character(
            "Faruzan", 
            "Anemo", 
            "Bow",
            false, 
            "https://www.gensh.in/fileadmin/Database/Characters/Faruzan/charPortrait_faruzan.png"),
        //new Character("Fischl", "Electro", "Bow",false),
        //new Character("Ganyu", "Cryo", "Bow",false),
        //new Character("Gorou", "Geo", "Bow",false),
        //new Character("Heizou", "Anemo", "Catalyst",false),
        //new Character("Hu Tao", "Pyro", "Polearm",false),
        //new Character("Itto", "Geo", "Claymore",false),
        //new Character("Jean", "Anemo", "Sword",false),
        //new Character("Kaeya", "Cryo", "Sword",false),
        //new Character("Kaveh", "Dendro", "Claymore",false),
        //new Character("Kazuha", "Anemo", "Sword",false),
        //new Character("Kaqing", "Electro", "Sword",false),
        //new Character("Kiara", "Dendro", "Sword",false),
        //new Character("Klee", "Pyro", "Catalyst",false),
        //new Character("Kokomi", "Hydro", "Catalyst",false),
        //new Character("Kuki", "Dendro", "Sword",false),
        //new Character("Leyla", "Cryo", "Sword",false),
        //new Character("Lisa", "Electro", "Catalyst",false),
        //new Character("Mika", "Cryo", "Polearm",false),
        //new Character("Mona", "Hydro", "Catalyst",false),
        //new Character("Nahida", "Dendro", "Catalyst",false),
        //new Character("Nilou", "Hydro", "Sword",false),
        //new Character("Ningguang", "Geo", "Catalyst",false),
        //new Character("Noelle", "Geo", "Claymore",false),
        //new Character("Qiqi", "Cryo", "Sword",false),
        //new Character("Raden", "Electro", "Polearm",false),
        //new Character("Razor", "Electro", "Claymore",false),
        //new Character("Rozaria", "Cryo", "Polearm",false),
        //new Character("Sara", "Electro", "Bow",false),
        //new Character("Sayu", "Anemo", "Claymore",false),
        //new Character("Shenhe", "Cryo", "Polearm",false),
        //new Character("Sucrose", "Anemo", "Catalyst",false),
        //new Character("Tarataglia", "Hydro", "Bow",false),
        //new Character("Thoma", "Pyro", "Polearm",false),
        //new Character("Tighnari", "Dendro", "Bow",false),
        //new Character("Traveler", "Anemo", "Sword",false),
        //new Character("Traveler", "Geo", "Sword",false),
        //new Character("Traveler", "Electro", "Sword",false),
        //new Character("Traveler", "Dendro", "Sword",false),
        //new Character("Venti", "Anemo", "Bow",false),
        //new Character("Wandere", "Anemo", "Catalyst",false),
        //new Character("Xiangling", "Pyro", "Polearm",false),
        //new Character("Xiao", "Anemo", "Polearm",false),
        //new Character("Xingqui", "Hydro", "Sword",false),
        //new Character("Xinyan", "Pyro", "Claymore",false),
        //new Character("Yae Miko", "Electro", "Catalyst",false),
        //new Character("Yanfei", "Pyro", "Catalyst",false),
        //new Character("Yaoyao", "Dendro", "Polearm",false),
        //new Character("Yelan", "Hydro", "Bow",false),
        //new Character("Yoimia", "Pyro", "Bow",false),
        //new Character("Yunjin", "Geo", "Polearm",false),
        //new Character("Zhongli", "Geo", "Polearm",false),
    };
    Character selectedcharacter = new Character("", "", "", true, "");
    public void Show(Character character)
    {
        selectedcharacter = character;
        character.Show = !character.Show;
    }
}