@page "/weapons"
@page "/weapons/{SelectedWeaponType}"
@using Genshin_Site.Data
@inject NavigationManager NavigationManager;
@inject WeaponService service;
<PageTitle>Weapons</PageTitle>
<h3>Weapons</h3>

<div>
    <select selectedWeaponType @onchange="OnWeaponTypeChange" title="Filter">
        <option value="null" selected>(All)</option>
        @foreach (var type in service.GetWeaponTypes())
        {
            <option value="@type">@type</option>
        }
    </select>
</div>
@*<WeaponsComponent @SelectedWeaponType=@SelectedWeaponType></WeaponComponent>*@
@foreach (var weapon in service.GetWeapons(SelectedWeaponType))
{

    <img src="@weapon.Image" asp-append-version="true" maxwidth="180px" maxheight="180px" />
    <button @onclick="() => Show(weapon)">@weapon.Name</button>
    <div hidden="@(!weapon.Show)">
        <div>@weapon.Type</div>
        <div>@weapon.Substat</div>
        <div>@weapon.Passive</div>
    </div>
    <br>
    <hr>

}

@*@if (selectedWeapon != null)
{
    <div>@selectedWeapon.Type</div>
    <div>@selectedWeapon.Substat</div>
    <div>@selectedWeapon.Passive</div>
}*@

@*@foreach (var set in service.GetSets())
{
    <ArtifactSetComponent ArtifactSet=@set/>
}*@

@code
{
    //Save template data
    //protected override void OnInitialized()
    //{
    //    service.Save();
    //    base.OnInitialized();
    //}

    [Parameter]
    public string? SelectedWeaponType { get; set; }
    [Parameter]
    public List<string>? SelectedWeaponNames { get; set; }

    bool show = false;
    string vallue = "";

    private void OnWeaponTypeChange(ChangeEventArgs e)
    {
        SelectedWeaponType = e.Value?.ToString();
        NavigationManager.NavigateTo($"/weapons/{SelectedWeaponType}");
    }

    Weapon selectedWeapon;
    void Show(Weapon weapon)
    {
        selectedWeapon = weapon;
        weapon.Show = !weapon.Show;
        Console.WriteLine(weapon.Type);
    }
    public void Update(string value)
    {
        SelectedWeaponType = value;
        StateHasChanged();
    }
    //Save template data
    //protected override void OnInitialized()
    //{
    //    service.Save();
    //    base.OnInitialized();
    //}
}
