@using Genshin_Site.Data;

@inject NavigationManager NavigationManager;

<img src="@weapon.Image" asp-append-version="true" maxwidth="180px" maxheight="180px" />
<button @onclick="() => Show(weapon)">@weapon.Name</button>
<div hidden="@(!weapon.Show)">
    <div>@weapon.Type</div>
    <div>@weapon.Substat</div>
    <div>@weapon.Passive</div>
</div>
<br>

@code 
{
    [Parameter]
    public Weapon weapon { get; set; }
    Weapon? selectedWeapon;
    
    void Show(Weapon weapon)
    {
        selectedWeapon = weapon;
        weapon.Show = !weapon.Show;
    }

    
}
