@using Genshin_Site.Data;

@inject NavigationManager NavigationManager;
@if (Weapon != null)
{
    <div class="shown button" @onclick="() => Show(Weapon)">
        <img src="@Weapon.Image" asp-append-version="true" maxwidth="180px" maxheight="180px" />
        <span>@Weapon.Name</span>
    </div>
    <div class="wrap" hidden="@(!Weapon.Show)">
        <div>@Weapon.Type</div>
        <div>@Weapon.Substat</div>
        <div>@Weapon.Passive</div>
    </div>
    <hr>
} else
{
    <h1>No weapon selected</h1>
}
@code 
{
    [Parameter]
    public Weapon? Weapon { get; set; }
    Weapon? selectedWeapon;
    
    void Show(Weapon weapon)
    {
        selectedWeapon = weapon;
        weapon.Show = !weapon.Show;
    }

    
}
